 h1 {color: rgb(255, 255, 255); font-family: "Courier New", monospace;}  
        body {background-image: url("BackgroundImage.jpg"); width: 100%; max-width: 1024px; background-repeat: no-repeat; background-size:cover;}
p {color: rgb(255,255,255); font-family: "Courier New", monospace;}
#picture1 {float: left;}
#picture2 {float: left;}
#picture3 {float: right;}
#picture4 {float: right;}
